<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiara Story</title>
    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <!--ICONS-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="css/hf.css">
    <link rel="stylesheet" href="css/style.css">
    <!--icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--swiper js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
</head>

<body>
    <!--Header starts-->
      <header>
        <nav class="navbar">
            <a href="#" class="logo"><img src="images/logo.png" alt=""></a>
            
            <ul class="menu-links">
                <span id="close-button" class="material-symbols-outlined">close</span>
                <li><a href="#home">Home</a></li>
                <li><a href="#browse">Browse</a></li>
                <li><a href="#community ">Community</a></li>
                <li><a href="#writer ">Writer</a></li>

                <li>
                <form action="#" class="search-form">
                <input type="text" placeholder="Search" required>
                <button class="material-symbols-outlined"><i class='bx  bx-search'  ></i> </button>
                </form>
                </li>

                <li class="premium-btn"><a href="#">Try Premium</a></li>

                <li>
                <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn"><img src="images/user.png"></button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#" style="text-decoration: none;">Profile</a>
                    <hr>
                    <p>Inbox</p>
                    <p>Notification</p>
                    <p>Settings</p>
                    <p>Help</p>
                    <a href="logout" style="text-decoration: none;">Log out</a>
                </div>
                </div>
                </li>
            </ul>
            <span id="hamburgor-btn" class="material-symbols-outlined">menu</span> 
        </nav>
    </header>
<!--Header ends-->

<section class="picture-section" id="community">
    <div class="slider">
        <div class="slide active">
            <div class="about">
                <h1>Premium starts!!</h1>
                <br>
                <p>Month of easy reading is here!<br>Get 20% off on coins</p>
            </div>
        </div>
        <div class="slide" >
            <div class="about">
                <h1>New Books!!</h1>
                <br>
                <p>Check out our latest stories.<br>Lets drive loneliness!?</p>
            </div>
        </div>
        <div class="slide">
            <div class="about">
                <h1>Special Offer!!</h1>
                <br>
                <p>Unlock premium stories with less coins.<br>Make easy coins!</p>
            </div>
        </div>
    </div>
</section>

    <!--Slider ends-->

    <!--Books starts-->
    <section class="products" id="writer">
        <h2 class="section-title">Popular books</h2>
        <div class="container">
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="images/13.png">
                    <p>Lessons in Chemistry</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/22.png">
                    <p>Love</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/30.jpg">
                    <p>Knight Velasquez</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/31.jpg">
                    <p>In Another Era</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/2.png">
                    <p>Come Back To Me</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/6.png">
                    <p>Midnight's Children</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/8.png">
                    <p>Kenze</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/1.png">
                    <p>Last Seen</p>
						<a href="normalBook">View details</a>
					</div>

                <div class="swiper-slide box">
                    <img src="images/3.png">
                    <p>Midnight's Children</p>
                    <a href="#">View details</a>
                </div>
                
                <div class="swiper-slide box">
                    <img src="images/12.png">
                    <p>In Other Rooms</p>
                    <a href="#">View details</a>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!--Books ends-->

    <!--Books starts-->
    <section class="products" id="writer">
        <h2 class="section-title">Genres you may like</h2>
        <div class="container">
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="images/32.jpg">
                    <p>The Regency Rules</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/34.jpg">
                    <p>Save Me</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/33.jpg">
                    <p>Savage Fate</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/11.png">
                    <p>Lord of Rings</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/1.png">
                    <p>Last Seen</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/5.png">
                    <p>Midnight's Children</p>
                    <a href="#">Needed you</a>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!--Books ends-->

    <!--Books starts-->
    <section class="products" id="writer">
        <h2 class="section-title">Recently opened</h2>
        <div class="container">
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="images/35.jpg">
                </div>

                <div class="swiper-slide box">
                    <img src="images/31.jpg">
                </div>

                <div class="swiper-slide box">
                    <img src="images/32.jpg">
                </div>

                <div class="swiper-slide box">
                    <img src="images/33.jpg">
                </div>

                <div class="swiper-slide box">
                    <img src="images/39.jpg">
                </div>

                <div class="swiper-slide box">
                    <img src="images/3.png">
                </div>

                <div class="swiper-slide box">
                    <img src="images/5.png">
                </div>
            </div>
            </div>
        </div>
    </section>
    <!--Books ends-->

    <!--Books starts-->
    <section class="products" id="writer">
        <h2 class="section-title">Completed Books</h2>
        <div class="container">
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="images/34.jpg">
                    <p>See Me</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/35.jpg">
                    <p>Breaking the Ice</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/36.jpg">
                    <p>Falling for Rockstar</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/37.jpg">
                    <p>Silver Threader</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/38.jpg">
                    <p>Six Feet Deep</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/4.png">
                    <p>Falling for Michela</p>
                    <a href="#">View details</a>
                </div>

                <div class="swiper-slide box">
                    <img src="images/10.png">
                    <p>The Hobbit</p>
                    <a href="#">View details</a>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!--Books ends-->

    <!--Premium starts-->
    <section class="premium" id="premium">
        <h2 class="section-title">Premium books</h2>
        <div class="container">
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <div class="icons">
                    <a href="#">30 <i class='bx  bxs-coin'  style='color:#D25128'></i>  </a>
                    </div>
                    <div class="image">
                    <img src="images/40.jpg">
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                    <a href="#">10 <i class='bx  bxs-coin'  style='color:#D25128'></i>  </a>
                    </div>
                    <div class="image">
                    <img src="images/41.jpg">
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                    <a href="#">50 <i class='bx  bxs-coin'  style='color:#D25128'></i>  </a>
                    </div>
                    <div class="image">
                    <img src="images/42.jpg">
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                    <a href="#">3 <i class='bx  bxs-coin'  style='color:#D25128'></i>  </a>
                    </div>
                    <div class="image">
                    <img src="images/43.jpg">
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                    <a href="#">8 <i class='bx  bxs-coin'  style='color:#D25128'></i>  </a>
                    </div>
                    <div class="image">
                    <img src="images/44.jpg">
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                    <a href="premiumBook">269 <i class='bx  bxs-coin'  style='color:#D25128'></i>  </a>
                    </div>
                    <div class="image">
                    <img src="images/45.jpg">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!--Premium ends-->

    <!-- Footer starts-->
<footer class="footer">
  <div class="footer-container">
      <div class="footer-links">
          <h3>Quick links</h3>
          <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Writer</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="#">Be a Member</a></li>
          </ul>
      </div>
      <div class="footer-links">
          <h3>&nbsp;</h3> 
          <ul>
              <li><a href="#">Language</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Get the app</a></li>
              <li><a href="#">Promotion</a></li>
          </ul>
      </div>
      <div class="footer-info">
          <h3>Have any question?</h3>
          <p>Feel free to reach out  on our platforms.</p>
          <p>Happy Reading!.</p>
          <div class="social">
              <a href="#"><i class='bx bxl-tiktok'></i></a>
              <a href="#"><i class='bx bxl-instagram' ></i></a>
              <a href="#"><i class='bx bxl-gmail' ></i></a>
              <a href="#"><i class='bx bxl-pinterest' ></i></a>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <p><a href="#">Privacy policy</a></p>
      <p><a href="#">Terms and Services</a></p>
      <p><a href="#">Help Centre</a></p>
      <p><a href="#">Accessibility</a></p>
  </div>

  </footer>


<script>
        const header = document.querySelector("header");
        const hambugerBtn = document.querySelector("#hamburgor-btn");
        const closeMenuBtn = document.querySelector("#close-button");

        hambugerBtn.addEventListener("click", () =>{
            header.classList.toggle("show-mobile-menu");
        })

        closeMenuBtn.addEventListener("click", () =>{
            hambugerBtn.click();
        })
        
        
    </script>
<!-- sqiper js-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- custom js-->
    <script src="js/script.js"></script>


</body>
</html>