  <!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiara Story</title>
    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <!--ICONS-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="css/hf.css">
    <link rel="stylesheet" href="css/style.css">
    <!--icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--swiper js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <!-- Initialize Swiper -->
</head>

<body> 

    <!--Header starts-->
  <header style="position: fixed;">
        <nav class="navbar">
            <a href="#" class="logo"><img src="images/logo.png" alt=""></a>
            
            <ul class="menu-links">
                <span id="close-button" class="material-symbols-outlined">close</span>
                <li><a href="#home">Home</a></li>
                <li><a href="#browse">Browse</a></li>
                <li><a href="#community ">Community</a></li>
                <li><a href="#writer ">Writer</a></li>

                <li>
                <form action="#" class="search-form">
                <input type="text" placeholder="Search" required>
                <button class="material-symbols-outlined"><i class='bx  bx-search'  ></i> </button>
                </form>
                </li>

                <li class="premium-btn"><a href="premiumBook">Try Premium</a></li>
                <li class="join-btn"><a href="login">Login</a></li>
            </ul>
            <span id="hamburgor-btn" class="material-symbols-outlined">menu</span> 
        </nav>
    </header>
    <!--Header ends-->

    <main>
    <!--Hero section starts-->
    <section class="hero-section">
        <div class="section-content">
            <div class="hero-details">
                <h1 class="title">Bored here?</h1>
                <h3 class="subtitle">Lets be your favourite!</h3>
                <p class="description">Where you read the books you desire.<br>
                Where you get the chance to start your work as a writer.<br>
                Where you meet the people with the same interest.<br>
                Drive out your loneliness, 
                <a href="login" class="pp" style="color:#D25128; font-weight: 600; text-decoration: none;">Start with Tiara</a></p>

                <div class="buttons">
                    <a href="#" class="button order-now">Start Reading</a>
                    <a href="#" class="button contact-us">Start Writing</a>
                </div>
            </div>
        </div>
    </section>
    <!--Hero section ends-->

    <!--Can do section starts-->
    <section class="features" id="browse">
        <div class="container">
        <h2 class="section-title">You are able to</h2>
        <div class="feature-cards">
        <div class="card">
            <i class='bx  bxs-book'  style='color:#D25128'></i> 
            <h3>Be a reader</h3>
            <p>Browse through wonderful books.<br>Whether you're into romance, fantasy, thrillers, or fanfiction- discover fresh newvoices, interact directly with authors, leave comments, and even shape the story’s direction through feedback.</p>
        </div>
        <div class="card">
            <i class='bx  bxs-pen'  style='color:#D25128'></i> 
            <h3>Be a writer</h3>
            <p>Create your wonderful book.<br>Share your story and build a loyal audience- receive instant feedback from readers, improve your writing through interaction, and grow a supportive community around your work. </p>
        </div>
    </div>
    </div>
    </section>
    <!--Can do section ends-->

    <!--Testimonials starts-->
    <section class="testimonials-section" id="community">
        <h2 class="section-title">Testimonials</h2>
        <div class="section-content">
            <div class="container">
                <div class="swiper mySwiper">
                    <ul class="testimonials-list swiper-wrapper">
                        <li class="testimonial swiper-slide">
                            <img src="images/review-1.jpg" alt="User" class="user-image">
                            <h3 class="name">Dave Miller</h3>
                            <i class="feedback"> "Joining here felt like I gained a second family who were as passionate about reading and writing as I am."</i>
                        </li>

                        <li class="testimonial swiper-slide">
                            <img src="images/review-3.jpg" alt="User" class="user-image">
                            <h3 class="name">Sarah Johnson</h3>
                            <i class="feedback">"Having been active on here for several years, I knew it would be the perfect platform for a thriller with lots of cliffhangers for readers to discuss. Teen horror is my passion, so I can’t wait to be able to share Light as a Feather with other horror aficionados."</i>
                        </li>

                        <li class="testimonial swiper-slide">
                            <img src="images/review-2.jpg" alt="User" class="user-image">
                            <h3 class="name">Bobby Thistle</h3>
                            <i class="feedback">"TiaraStory gave me opportunities I never thought possible. It connected me to a world that I had only imagined."</i>
                        </li>

                        <li class="testimonial swiper-slide">
                            <img src="images/c.png" alt="User" class="user-image">
                            <h3 class="name">Mirah Browns</h3>
                            <i class="feedback">"Perfect for us teens who have so much to share."</i>
                        </li>
                    </ul>

                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                </div>
            </div>
        </div>
    </section>
    <!--Testimonials ends--> 

    <!--Books starts-->
    <section class="products" id="writer">
        <h2 class="section-title">Browse books</h2>
        <div class="container">
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="images/1.png">
                </div>

                <div class="swiper-slide box">
                    <img src="images/2.png">
                </div>

                <div class="swiper-slide box">
                    <img src="images/3.png">
                </div>

                <div class="swiper-slide box">
                    <img src="images/4.png">
                </div>

                <div class="swiper-slide box">
                    <img src="images/5.png">
                </div>

                <div class="swiper-slide box">
                    <img src="images/6.png">
                </div>
            </div>
            </div>
        </div>
    </section>
    <!--Books ends-->

    <!--Premium starts-->
    <section class="premium" id="premium">
        <h2 class="section-title">Premium books</h2>
        <div class="container">
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <div class="icons">
                    <a href="#">30 <i class='bx  bxs-coin'  style='color:#D25128'></i>  </a>
                    </div>
                    <div class="image">
                    <img src="images/7.png">
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                    <a href="#">5 <i class='bx  bxs-coin'  style='color:#D25128'></i>  </a>
                    </div>
                    <div class="image">
                    <img src="images/8.png">
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                    <a href="#">10 <i class='bx  bxs-coin'  style='color:#D25128'></i>  </a>
                    </div>
                    <div class="image">
                    <img src="images/9.png">
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                    <a href="#">2 <i class='bx  bxs-coin'  style='color:#D25128'></i>  </a>
                    </div>
                    <div class="image">
                    <img src="images/10.png">
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                    <a href="#">7 <i class='bx  bxs-coin'  style='color:#D25128'></i>  </a>
                    </div>
                    <div class="image">
                    <img src="images/11.png">
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="icons">
                    <a href="#">12 <i class='bx  bxs-coin'  style='color:#D25128'></i>  </a>
                    </div>
                    <div class="image">
                    <img src="images/12.png">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!--Premium ends-->

    
    <!-- Footer starts-->
<footer class="footer">
  <div class="footer-container">
      <div class="footer-links">
          <h3>Quick Links</h3>
          <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Writer</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="#">Be a Member</a></li>
          </ul>
      </div>
      <div class="footer-links">
          <h3>&nbsp;</h3> 
          <ul>
              <li><a href="#">Language</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Get the app</a></li>
              <li><a href="#">Promotion</a></li>
          </ul>
      </div>
      <div class="footer-info">
          <h3>Have any question?</h3>
          <p>Feel free to reach out  on our platforms.</p>
          <p>Happy Reading!.</p>
          <div class="social">
              <a href="#"><i class='bx bxl-tiktok'></i></a>
              <a href="#"><i class='bx bxl-instagram' ></i></a>
              <a href="#"><i class='bx bxl-gmail' ></i></a>
              <a href="#"><i class='bx bxl-pinterest' ></i></a>
              <a href="adminLogin"><i class='bx bx-user-circle'></i></a>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <p><a href="#">Privacy policy</a></p>
      <p><a href="#">Terms and Services</a></p>
      <p><a href="#">Help Centre</a></p>
      <p><a href="#">Accessibility</a></p>
  </div>

  </footer>


    <script>
        const header = document.querySelector("header");
        const hambugerBtn = document.querySelector("#hamburgor-btn");
        const closeMenuBtn = document.querySelector("#close-button");

        hambugerBtn.addEventListener("click", () =>{
            header.classList.toggle("show-mobile-menu");
        })

        closeMenuBtn.addEventListener("click", () =>{
            hambugerBtn.click();
        })
        
    </script>


    <!-- sqiper js-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- custom js-->
    <script src="js/script.js"></script>

</body>