<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiara Story</title>
    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="css/login.css">
    <!--icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <form method="post" action="login">
            <div class="text-center">
             <img src="images/logo.png" alt="Logo" class="img-fluid" style="max-width: 150px;">
            </div>

            <div class="input-box">
                <input type="text" placeholder="Username" name="username" required>
                <i class='bx bxs-user'></i> 
            </div>

            <div class="input-box">
                <input type="password" placeholder="Password" name="password" required>
                <i class='bx  bxs-lock'  ></i> 
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
            </div>

           <input class="btn" type="submit" placeholder="Login">

            <div class="register-link">
                <p>Don't have an account? <a href="signup">Register</a></p>
            </div>

            <div class="register-link">
                <p>Forgot Password? <a href="#">Click here</a></p>
            </div>
        </form>
    </div>
</body>